.login-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000; }
  .login-box .lb-ctrl {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); }
  .login-box .lb-outer {
    width: 90%;
    max-width: 400px;
    height: 75vh;
    overflow-x: hidden;
    margin: 0 auto;
    margin-top: 0%;
    background: #fff;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }
    .login-box .lb-outer .lb-close {
      width: 20px;
      z-index: 1602;
      position: absolute;
      top: 12px;
      right: 12px;
      cursor: pointer; }
      .login-box .lb-outer .lb-close img {
        width: 100%; }
    .login-box .lb-outer .lb-inner {
      width: 100%;
      max-width: 400px;
      height: 75vh;
      overflow-y: auto;
      margin: 0 auto;
      margin-top: 0%;
      background: #fff;
      border-radius: 12px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%); }
      .login-box .lb-outer .lb-inner #memberlogin {
        margin: 0 auto;
        text-align: center; }
        .login-box .lb-outer .lb-inner #memberlogin form table {
          display: block;
          width: 100%; }
          .login-box .lb-outer .lb-inner #memberlogin form table tbody {
            display: block; }
            .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(1) {
              display: block; }
              .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(1) td {
                display: block; }
                .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(1) td img {
                  height: 70px;
                  margin-top: 5%; }
                .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(1) td a {
                  position: absolute;
                  top: 4px;
                  left: 6px; }
                  .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(1) td a img {
                    height: 60px;
                    margin-top: 5%; }
            .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(2) {
              display: block;
              margin: 10px 0 0; }
              .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(2) td:nth-child(1) {
                display: inline-block;
                width: 66px;
                font-size: 15px;
                font-weight: bold; }
              .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(2) td:nth-child(2) {
                display: inline-block;
                position: relative; }
                .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(2) td:nth-child(2) .custom-error {
                  opacity: 0.87;
                  position: absolute;
                  top: 45px;
                  left: -10px;
                  margin-top: 0px; }
                  .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(2) td:nth-child(2) .custom-error .formErrorContent {
                    display: block; }
                    .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(2) td:nth-child(2) .custom-error .formErrorContent .error_text {
                      font-size: 12px;
                      line-height: 0rem;
                      position: relative;
                      margin: -2px 0;
                      color: #333; }
                .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(2) td:nth-child(2) input {
                  width: 170px;
                  height: 18px;
                  border: 1px solid #000000;
                  font-size: 12px;
                  padding: 5px;
                  margin: 3% 0%; }
            .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(3) {
              display: block;
              margin: 17px 0 12px; }
              .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(3) td:nth-child(1) {
                display: inline-block;
                width: 66px;
                font-size: 15px;
                font-weight: bold; }
              .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(3) td:nth-child(2) {
                display: inline-block;
                position: relative; }
                .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(3) td:nth-child(2) .custom-error {
                  opacity: 0.87;
                  position: absolute;
                  top: 45px;
                  left: -10px;
                  margin-top: 0px; }
                  .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(3) td:nth-child(2) .custom-error .formErrorContent {
                    display: inline-block; }
                    .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(3) td:nth-child(2) .custom-error .formErrorContent .error_text {
                      font-size: 12px;
                      line-height: 0rem;
                      position: relative;
                      color: #333; }
                .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(3) td:nth-child(2) input {
                  width: 170px;
                  height: 18px;
                  border: 1px solid #000000;
                  font-size: 12px;
                  padding: 5px;
                  margin: 3% 0%; }
            .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(4) {
              display: block;
              margin-top: 0; }
              .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(4) td {
                display: block; }
              .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(4) #g-recaptcha-box {
                width: 100%; }
              .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(4) #g-recaptcha {
                -webkit-transform: scale(0.8);
                -ms-transform: scale(0.8);
                transform: scale(0.8); }
                .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(4) #g-recaptcha div {
                  margin: 0 auto; }
            .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(5) {
              height: 15px;
              display: block; }
              .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(5) #msg-txt {
                color: #c44744;
                font-weight: bold;
                font-size: 13px;
                line-height: 1em;
                padding: 0px;
                text-align: center;
                margin: 0 auto;
                display: inline-block;
                position: relative;
                top: -4px; }
            .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(6) {
              display: block; }
              .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(6) td {
                display: block;
                width: 100%; }
              .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(6) td:nth-child(1) {
                height: 0; }
              .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(6) td:nth-child(2) input {
                margin: 0px auto;
                padding: 10px;
                border-radius: 0;
                background: #000;
                color: #fff;
                width: 110px;
                border: 0;
                font-size: 15px;
                cursor: pointer; }
        .login-box .lb-outer .lb-inner #memberlogin form p {
          margin: 30px 0 12px;
          font-size: 16px;
          font-weight: bolder; }
        .login-box .lb-outer .lb-inner #memberlogin form .login-more-box {
          margin: 0px auto; }
          .login-box .lb-outer .lb-inner #memberlogin form .login-more-box .login-fb {
            width: 60%;
            padding: 10px;
            background-color: #4267b2;
            border-radius: 4px;
            color: #fff;
            font-size: 18px;
            -webkit-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            text-align: center;
            margin: 0 auto 8px; }
          .login-box .lb-outer .lb-inner #memberlogin form .login-more-box .login-google {
            width: 60%;
            padding: 10px;
            background-color: #c44744;
            border-radius: 4px;
            color: #fff;
            font-size: 18px;
            -webkit-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            text-align: center;
            margin: 0 auto 8px; }
      .login-box .lb-outer .lb-inner .member-more {
        margin: 10px auto;
        padding: 0;
        text-align: center; }
        .login-box .lb-outer .lb-inner .member-more img {
          height: 14px; }
        .login-box .lb-outer .lb-inner .member-more a {
          font-size: 13px;
          color: #666; }

@media screen and (min-width: 375px) {
  .login-box .lb-outer {
    height: 570px; }
    .login-box .lb-outer .lb-close {
      width: 25px; }
    .login-box .lb-outer .lb-inner {
      height: auto; }
      .login-box .lb-outer .lb-inner #memberlogin form p {
        margin: 30px 0 12px;
        font-size: 16px;
        font-weight: bolder; }
      .login-box .lb-outer .lb-inner #memberlogin form .login-more-box {
        margin: 0px auto; }
        .login-box .lb-outer .lb-inner #memberlogin form .login-more-box .login-fb {
          width: 60%;
          margin-bottom: 8px;
          padding: 10px; }
        .login-box .lb-outer .lb-inner #memberlogin form .login-more-box .login-google {
          width: 60%;
          padding: 10px; }
      .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(1) td img {
        height: 80px; }
      .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(1) td a {
        top: 6px;
        left: 8px; }
        .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(1) td a img {
          height: 70px; }
      .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(2) td:nth-child(1) {
        width: 80px;
        font-size: 16px; }
      .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(2) td:nth-child(2) input {
        width: 190px; }
      .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(3) {
        margin: 17px 0; }
        .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(3) td:nth-child(1) {
          width: 80px;
          font-size: 16px; }
        .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(3) td:nth-child(2) input {
          width: 190px; }
      .login-box .lb-outer .lb-inner #memberlogin form table tbody tr:nth-child(4) #g-recaptcha {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; }
      .login-box .lb-outer .lb-inner .member-more {
        margin: 18px auto; }
        .login-box .lb-outer .lb-inner .member-more img {
          height: 16px; }
        .login-box .lb-outer .lb-inner .member-more a {
          font-size: 15px; } }
